:root{
     --XBlue: #335db0;
     --ORed:  #991521;
     --GameBorder: Black;
}

body {
    background-color: powderblue;
}

.GameButtons {
    float: left;
    background-color: white;
    width: 160px;
    height: 70px;
    font-family: sans-serif;
    font-size: 20px;
    border: 1px solid black;
}

.GameInput {
    background-color: white;
    height: 140px;
    width: 140px;
    color: var(--ORed);
    font-family: sans-serif;
    font-size: 125px;

}

.GameSpace table {
    border-collapse: collapse;
    float: left;
}


.Top {
    border-top: 8px ridge var(--GameBorder);
}

.Left {
    border-left: 8px ridge var(--GameBorder);
}

.Right {
    border-right: 8px ridge var(--GameBorder);
}

.Bottom {
    border-bottom: 8px ridge var(--GameBorder);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}
