:root{
     --XBlue: #335db0;
     --ORed:  #991521;
     --GameBorder: Black;
}

body {
    background-color: powderblue;
}

.GameButtons {
    float: left;
    background-color: white;
    height: 70px;
    font-family: sans-serif;
    font-size: 20px;
}

.GameInput {
    background-color: white;
    height: 140px;
    width: 140px;
    color: var(--ORed);
    font-family: sans-serif;
    font-size: 125px;

}

.GameSpace table {
    border-collapse: collapse;
    float: left;
}


.Top {
    border-top: 8px ridge var(--GameBorder);
}

.Left {
    border-left: 8px ridge var(--GameBorder);
}

.Right {
    border-right: 8px ridge var(--GameBorder);
}

.Bottom {
    border-bottom: 8px ridge var(--GameBorder);
}
